<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CreateFileDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True"/>
    <add name="WorkWithDBFile" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=|DataDirectory|\{0};Integrated Security=True"/>
  </connectionStrings>
</configuration>